<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer class="text-center text-white" style="background-color: #45637d;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Iframe -->
      <!-- <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9">
              <iframe
                class="shadow-1-strong rounded"
                src="https://youtu.be/T_bF7q8Twfg"
                title="YouTube video"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright &copy; 2023 by Content
    </div>
    <!-- Copyright -->
  </footer>
</html>