<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <!-- <div id="footer">
        <div class="footer-main">
            <div class="footer-element">
                <a class="footer-icon" href="#" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a class="footer-icon" href="" target="_blank"><i class="fas fa-globe-asia"></i></a>
                <a class="footer-icon" href="" target="_blank"><i class="fas fa-users"></i></a>
                <p class="copyright"></p>
                <p class="copyright"></p>
            </div>
        </div>
    </div> -->
    <footer>
        <hr>
        <div class="footer p-5">
            <div class="footCon1">    
                <h2 style="color: white; font-weight: bold;">Name</h2>
            </div>
            <div class="footCon1">    
                
            </div>
            <div class="footCon1">    
                <ul>
                    <li>
                        <h2>Research</h2>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                </ul>
            </div>
            <div class="footCon1">    
                <ul>
                    <li>
                        <h2>Product</h2>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                </ul>
            </div>
            <div class="footCon1">    
                <ul>
                    <li>
                        <h2>Safety</h2>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                    <li>
                        <h3>content</h3>
                    </li>
                </ul>
            </div>
        </div>
        <p class="text-center">Copyright &copy; 2023 by Content</p>
    </footer>
</body>
</html>